*{
	padding:0px;
	margin:0px;	
}

body {
	background-color: #445878;
	font-family: "Arial", sans-serif;
	color:eeeff7;
}



#navigation {
    list-style-type: none;
    margin: 0;
    float:left;
    padding-top:40px;
    width: 200px;
    background-color: #31353d;
    height:300%;
}

#navigation li a {
	display: block;
    color:#eeeff7;
    padding: 8px 16px;
    text-decoration: none;
}

#navigation li a:hover {
    background-color: #555;

}

.dropdown-content{
	margin-left:25px;	
}

.cat{
	margin-top:20px;
	padding: 8px 16px;

}

.last_navi{
	border-bottom:solid 1px black;	
}


#login{
	width:100%;
	padding:5px;
	background-color:#31353d;	
}
.username{
	color:#eeeff7;
	float:left;
	width:200px;
	display:inline;	
}
